{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Symbol</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total</th>
            </tr>
        </thead>

        {% with money = namespace(total=0) %}
            <tbody>
                {% for stock in portfolio %}
                    <tr>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.shares }}</td>

                        {% set price = (stock.symbol | lookup)["price"] %}

                        <td>{{ price | usd }}</td>
                        <td>{{ (price * stock.shares) | usd }}</td>

                        {% set money.total = money.total + (price * stock.shares) %}
                    </tr>
                {% endfor %}

                <tr>
                    <td>CASH IN HAND</td>
                    <td colspan="4">{{ cash | usd }}</td>
                </tr>

                <tr>
                    <td><b>Grand Total</b></td>
                    {% set money.total = money.total + cash %}
                    <td colspan="4"><b>{{ money.total | usd }}</b></td>
                </tr>
            </tbody>
        {% endwith %}
    </table>

{% endblock %}
