{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Symbol</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total</th>
            </tr>
        </thead>

        {% with money = namespace(total=0.00) %}
            <tbody>
                {% for stock in portfolio %}
                    <tr>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.shares }}</td>

                        {% set price = (stock.symbol | lookup)["price"] %}

                        <td>{{ price | usd }}</td>
                        <td>{{ (price * stock.shares) | usd }}</td>

                        {% set money.total = money.total + (price * stock.shares) %}
                    </tr>
                {% endfor %}

                <tr>
                    <td>YOUR CASH</td>
                    <td colspan="3"></td>
                    <td>{{ cash | usd }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><b>Grand Total</b></td>
                    <td colspan="3"></td>
                    {% set money.total = money.total + cash %}
                    <td><b>{{ money.total | usd }}</b></td>
                </tr>
            </tfoot>
        {% endwith %}
    </table>

{% endblock %}
